body {
    background: rgb(44, 44, 44);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  .todolist-template {
    width: 512px;
    height: 768px;
    position: relative;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 0 8px rgb(0 0 0 / 4%);
    margin: 0 auto;
    margin-top: 96px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}
  .add-icon {
    border-radius: 50%;
    border: none;
    box-shadow: 1px 2px 3px gray;
    position: absolute;
    background: rgb(190, 56, 56);
    cursor: pointer;
    width: 80px;
    height: 80px;
    display: block;
    align-items: center;
    justify-content: center;
    left: 43%;
    bottom: -34px;
    outline: none;
    color: #fff;
    font-size: 60px;
  }
/* header */
  .todolist-header {
    padding: 24px 32px;
    border-bottom: 1px solid #eee;
  }
  .todolist-header > h1 {
    color: #000000;
    margin: 0;
  }
  .todolist-header > .day {
    color: rgb(35, 32, 36);
    margin-top: 8px;
    font-size: 20px;
  }
  .todolist-header > .tasks-left {
    margin-top: 22px;
  }
  .infoText {
    color: #0c9648;
    font-size: 14px;
  }
/* tasksList */
.todolist-body {
    flex: 1;
    padding-top: 20px;
    padding-left: 32px;
    padding-right: 15px;
    padding-bottom: 48px;
    /* overflow-y: auto; */
  }
  .task-list {
    overflow-y: scroll;
  }
  .tasks {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .tasks:hover > .tasks-delete {
    display: block;
  }
  .tasks > .tasks-check {
    width: 32px;
    height: 32px;
    font-size: 32px;
    display: flex;
    margin-right: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  .tasks > .tasks-check.checked {
    color: rgb(219, 102, 119);
  }
  .tasks > .tasks-item {
    flex: 1;
    cursor: pointer;
  }
  .tasks > .tasks-delete {
    cursor: pointer;
    padding: 0 10px;
  }
  .tasks > .tasks-done {
    text-decoration: line-through;
    color: #cecece;
  }
  /* taskInput */
  .tasks-input {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .tasks-input > .text-area {
    padding: 20px 20px 100px 20px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background: lightgrey;
    font-weight: bold;
  }
  .tasks-input > .text-area input {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    padding: 10px 5px;
    border: 1px solid gray;
  }
  .tasks-input > .text-area > .infoText {
    font-size: 12px;
  }